/* .box {
    position: absolute;
    padding:3% 3% 3% 3%;
  }
  
  .box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    padding:3% 3% 3% 3%;
    
  }
  
  .box::before {
    content: "\f13a";
    padding:5% 5% 5% 1%;
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  .unit {
    position: absolute;
  }
  
  .unit select {
    background-color: #3b4146;
    color: white;
    padding: 11px;
    width: 125px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    
  }
  
  .unit::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .unit:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .unit select option {
    padding: 30px;
  }
  
.example-container {
    position: relative;
    padding: 5px;
    width: 500px;
    height: 100%
  }

  .single-cell {
      width: 20%;
      height:10%;
      padding: 4% 4% 4% 8% 
  }


  table {
    height: 70%;
    text-align: center;
    margin-top: 4%;
  }

  td {
    vertical-align: text-top;
    width: 2%;
    height:2%;
  }

  .mat-elevation-z8 {
      height: 250px;
      width: 100%;
  }

  .abstract {
    vertical-align: text-bottom;
  }

.example-card {
    width: 500px;
    margin-top:1.5%;
    text-align: center;
    background-color: rgb(51, 143, 51);
    font-size: 23px;
    color: white;
    border-radius: 0%;
} */
