<div class="jumbotron jumbotron-fluid align-middle">
  <div class="container">
    <h1 class="display-2" translate>HOME.TITLE</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p translate>HOME.INFO</p>
    <div class="row">
      <div class="col-lg-8">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-horizontal">
              <div class="container-fluid">
                <div class="row" style="margin-bottom: 10px;">
                  <div class="col-lg-12">
                    <span class="box">
                      <label class="single-cell" style="font-size: x-large;" translate>
                        HOME.INGREDIENTS
                      </label>
                      <select style="width: 80%; font-size: x-large;" formControlName="ingredientSelection"
                        id="ingredientSelection">
                        <option *ngFor="let ingredient of ingredients let i = index" [value]="ingredient.id">
                          {{ingredient.name}}
                        </option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                  <div class="col-lg-4">
                    <input style="font-size: x-large;" type="number" name="inputUnitValue"
                      placeholder="{{'HOME.INPUTUNITVALUE' | translate}}" formControlName="inputUnitValue">
                  </div>
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-4">
                    <label for="units"></label>
                    <span class="unit">
                      <select formControlName="inputUnit" id="inputUnit" style="font-size: x-large;">
                        <option *ngFor="let u of units; let i = index" [value]="units[i].id" translate>
                          {{units[i].name}}
                        </option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                  <div class="col-lg-4">
                    <button mat-flat-button color="primary" type="submit" style="font-size: x-large;"
                      class="btn btn-primary btn-lg" translate>{{ 'HOME.CONVERT' | translate }}</button>
                  </div>
                  <div class="col-lg-2">
                  </div>

                  <div class="col-lg-4">
                    <label for="units"></label>
                    <span class="unit">
                      <select formControlName="outputUnit" id="outputUnit" style="font-size: x-large;">
                        <option *ngFor="let u of units; let i = index" [value]="units[i].id" translate>
                          {{units[i].name}}
                        </option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-2" style='font-size: xx-large;padding: 3px; width: 130px; word-break: break-all; word-wrap: break-word;'>
        <mat-card class="wrap-text" style="color: white; background-color: green;" class="example-card"
          [innerHtml]="htmlVariable" [hidden]="hiddenVar">
        </mat-card>
      </div>
      
    </div>

  </div>
</div>

<!-- 
  <div class="row">
    <mat-card class="example-card">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-horizontal">
        <div>
          <div>
            <label class="single-cell">
              Υλικά:
            </label>
            <span class="box">
              <select formControlName="ingredientSelection" id="ingredientSelection">
                <option *ngFor="let ingredient of ingredients let i = index" [value]="ingredient.id">
                  {{ingredient.name}}
                </option>
              </select>
            </span>
          </div>
          <table mat-table matSortActive="prod_name" matSortDisableClear matSortDirection="asc">

            <tr>
              <td><label for="units"></label>
                <span class="unit">
                  <select formControlName="inputUnit" id="inputUnit">
                    <option *ngFor="let u of units; let i = index" [value]="units[i].id">
                      {{units[i].name}}
                    </option>
                  </select>
                </span></td>
              <td class="abstract" colspan="1">
                <input type="number" name="inputUnitValue" placeholder="Εισάγετε μια τιμή"
                  formControlName="inputUnitValue">
              </td>
            </tr>
            <tr>

              <td>
                <label for="units"></label>
                <span class="unit">
                  <select formControlName="outputUnit" id="outputUnit">
                    <option *ngFor="let u of units; let i = index" [value]="units[i].id">
                      {{units[i].name}}
                    </option>
                  </select>
                </span>
              </td>
              <td class="abstract">
                <button mat-flat-button color="primary" type="submit" class="btn btn-primary">Μετατροπή</button>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </mat-card>
  </div> -->